#bolgs_news.first-copy{
#latest_posts{
    .post_container{
        .my_card{
            &:last-child{
                border: none;
            }
        }
    }
}
}
#banner.copy{
    background: $bg;
    .contant{
        padding: 60px 0;
        h1{
            font-weight: 700;
            font-size: 30px;
            line-height: 42px;
        }
        p,a{
            color: $text-color;
            font-size: 14px;
            line-height: 23.8px;
            transition: .5s;
        }
        a:hover{
            color: $header-hover-color;
        }
    }
}
#banner.aythor{
    border-radius: 10px;
    .sub{
        padding: 20px;
        .img_banner{
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        .contant{
            padding: 0;
            .first{
                padding-bottom: 10px;
            }
            p{
                font-size: 15px;
                line-height: 25.5px;
            }
            .social_icon{
                padding-top: 10px;
                ul{
                    li{
                        padding-right: 15px;
                        a{
                            color: $header-color;
                            @extend %hover;
                            i{
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}
#bolgs_news.Second-copy{
    #latest_posts{
        .dots{
            padding-top: 40px;
            li {
                a{
                    color: $text-color;
                    text-align: center;
                    border: $border;
                    border-radius: 50%;
                    margin: 0 5px;
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    transition: .5s;
                    &.active,
                    &:hover{
                        color: $common-color;
                        background: $background-color;
                    }
                }
            }
        }
    }
}
#error_banner{
    padding: 150px 0;
    h1{
        font-size: 40px;
        font-weight: 700;
        line-height: 56px;
        margin-bottom: 20px;
    }
    p{
        color: $text-color;
        font-size: 15px;
        line-height: 25.5px;
        margin-bottom: 10px;
    }
    a{
        @extend %btnstyle;
    }
}
//responsive
//Extra small
@media (max-width:575px){
    #error_banner h1 {
        font-size: 35px;
        line-height: 30px;
    }
    #error_banner p {
        font-size: 13px;
        line-height: 15.5px;
    }
    #error_banner a{
        padding: 8px 19px;
    }
}
#contact{
    .contact_info{
        .myinfo{
            margin: 30px 0;
            .icons{
                i{
                    color: $common-color;
                    background: $background-color;
                    border-radius: 10px;
                    text-align: center;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                }
            }
            .text{
                padding-left: 20px;
                h6{
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 25.2px;
                }
                p,a{
                    color: $text-color;
                    font-size: 16px;
                    line-height: 27.2px;
                    transition: .5s;
                }
                a:hover{
                    color: $header-hover-color;
                }
            }
        }
    }
.contact_form{
    margin-bottom: 60px;
    .header{
        h3{
            @include header(24px,33.6px);
        }
    }
    input,
    textarea{
        color: $header-color;
        font-size: 14px;
        line-height: 22.4px;
        width: 100%;
        border: $border;
        padding: 10px 20px;
        border-radius: 50px;
        margin-bottom: 30px;
        &:focus{
            outline: 0;
            border-color: $header-hover-color;
        }
        &::placeholder{
            color: $text-color;
            font-size: 14px;
            line-height: 22.4px;
        }
    }
    textarea{
        border-radius: 30px;
        height: 120px;
    }
    button{
        @extend %btnstyle
    }
}
}
#post_details_banner{
    background-image: url(../img/post_details.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 460px;
    position: relative;
    &::before{
        content: '';
        background-color: rgba(32,54,86,.6);
        position: absolute;
        inset: 0;
        z-index: 1;
    }
    .details_banner{
        padding-bottom: 50px;
    }
    p,
    p a{
        color: $text-color;
        font-size: 14px;
        line-height: 23.8px;
        transition: .5s;
        z-index: 2;
    }
    p a{
        color: $common-color;
    }
    h1{
        color: $common-color;
        font-weight: 700;
        font-size: 36px;
        line-height: 50.4px;
        z-index: 2;
    }
    .info{
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        z-index: 2;
        .img{
            width: 35px;
            height: 35px;
            
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
      .aythor a,.date {
        color: $text-color;
        font-family: $body-text;
        font-size: 14px;       
        line-height: 23.8px; 
      }
      .aythor a{
        padding: 0 10px;
        @extend %hover;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            right: -5px;
            top: 50%;
            transform: translateY(-50%);
            background: $text-color;
            height: 4px;
            width: 4px;
            border-radius: 50%;
        }
    }
    .date{
        padding-left: 15px;
    }
}
}
#bolgs_news.post_details{
    .bolgs_news_details{
        margin-top: 60px;
        .text{
            color: $text-color;
            font-size: 16px;
            line-height: 27.2px;
            mark{
                background: #fcf8e3;
                color: $black-color;
            }
            a{
                color: $header-hover-color;
                transition: .5s;
                &:hover{
                    color: $header-color;
                }
            }
        }
        h2{
            font-size: 28px;
            padding: 10px 0;
            font-weight: 700;
            line-height: 39.2px;
        }
        .list{
            list-style-type: circle;
            padding-left: 50px;
            padding-bottom: 20px;
        }
        .p_t-2{
            padding: 10px 0;
        }
        .p_t-4{
            padding-bottom: 50px;
            border-bottom: $border;
        }
        .sub{
            font-size: 13px;
            line-height: 27.1px;
        }
        #banner.details{
            .sub{
                margin: 60px 0;
            }
        }
        .links,
        .tag{
            padding-top: 30px;
        }
        .links{
            p{
                color: $text-color;
                font-size: 13px;
                line-height: 22.1px;
            }
            .social_icon{
                ul{
                    padding-top: 5px;
                    li{
                        margin-right: 10px;
                        a{
                            color: $header-color;
                            @extend %hover;
                        }
                    }
                }
            }
        }
        .tag{
            a{
                color: $text-color;
                border: $border;
                padding: 5px 10px;
                border-radius: 50px;
                @extend %hover;
                &:hover{
                    border-color: $header-hover-color;
                }
                &::before{
                    content: '#';
                }
            }
        }
        .posts{
            p{
                color: $text-color;
                font-size: 15px;
                line-height: 25.5px;
            }
            h3{
                a{
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 25.2px;
                    @extend %hover;
                }
            }
        }
        .header{
            padding: 30px 0;
            h3{
                @include header(24px,33.6px);
            }
        }
        .details_form{
            margin-bottom: 60px;
            p{
                margin-bottom: 20px;
            }
            p,
            label{
                color: $text-color;
                font-size: 15px;
                line-height: 25.5px;
            }
            .my_label{
                font-weight: bold;
            }
            textarea,
            .myinput{
                width: 100%;
                border: $border;
                border-radius: 50px;
                padding: 10px 20px;
                margin-bottom: 10px;
            }
            textarea:focus,input:focus{
                outline: 0;
                border-color: $header-hover-color;
            }
            textarea{
                border-radius: 30px;
                height: 120px;
            }
            .checkbox{
                margin-top: 20px;
            }
            button{
                @extend %btnstyle;
                margin-top: 15px;
            }
        }
    }
}
//responsive
//Medium
@media (max-width:991px){
    #post_details_banner {
        height: 377px;
    }
}
//Small
@media (max-width:767px){
    #post_details_banner {
        background-position: right;
        background-size: cover;
        background-attachment: unset;
    }
    #bolgs_news .bolgs_news_details .first img{
        width: 100%;
    }
}
//Extra small
@media (max-width:575px){
    #post_details_banner h1 {
        font-size: 25px;
        line-height: 29.4px;
    }
    #post_details_banner .info {
        padding-top: 6px;
    }
    #post_details_banner .details_banner {
        padding-bottom: 20px;
    }
    #post_details_banner p, #post_details_banner p a {
        font-size: 12px;
        line-height: 12.8px;
    }
    #post_details_banner .info .aythor a, #post_details_banner .info .date {
        font-size: 13px;
        line-height: 19.8px;
    }
    #bolgs_news.post_details .bolgs_news_details .tag  a{
        padding: 5px;
    }
    #bolgs_news.post_details .bolgs_news_details .details_form button {
        padding: 7px 11px;
    }
}