$header-text:'Roboto', sans-serif;
$body-text:'Poppins', sans-serif;
$background-color: linear-gradient(to right,#fe4f70 0%,#ffa387 100%);
$border-color: #ebebeb;
$header-color:#203656;
$header-hover-color:#fe4f70;
$navbar-color:#79889e;
$text-color:#8f9bad;
$common-color: #fff;
$black-color: #000;