#banner{
    .inner{
        @include body;
        box-shadow: 0 8px 20px rgb(32 54 86 / 30%);
    }
    .side_inner{
        .btns{
            padding-bottom: 20px;
            button{
                @extend %btnstyle;
                background: none;
                color: $text-color;
                border: $border;
                margin: 0 5px;
                &.active{
                    @extend %btnstyle;
                    border: none;
                    transition: .5s;
                }
            }
        }
        .blog_info{
            .blog_container{
                @include blog-min(50%);
            }
        }
    }
}
#editor{
    padding: 50px 0;
    .header{
        h3{
            @include header(24px,33.6px);
        }
    }
    .editor_container{
        .my_card{
            @include card;
        }
        .blog_info{
             .blog_container{
                @include blog-min(10px);
             }
        }
    }
    .ad_img{
        padding-top: 50px;
        width: 100%;
    }
}
#trending{
    padding-bottom: 60px;
    .header{
        h3{
            @include header(24px,33.6px);
        }
    }
    .trending_container{
        .my_card{
            @include card;
            padding-right: 0;
        } 
       .blog_info{
        .blog_container{
            @include blog-min(10px);
            margin-top: 20px;
            border-top: $border;
            .text{
                border: none;
            }
         }
       }
    }
}
#inspiration{
    .header{
        h3{
            @include header(24px,33.6px);
        }
    }
    .inspiration_slider{
        .blog_img_arrow{
            cursor: pointer;
            position: absolute;
            top: -60px;
            right: 30px;
            color: $text-color;
            width: 35px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            border: $border;
            border-radius: 50%;
            transition: .5s;
            &:hover{
                color: $header-hover-color;
                border-color: $header-hover-color
            }
            &.fa-chevron-left{
                right: 70px;
            }
        }
        .inner{
            @include body;
            padding: 0 15px;
             .img .text {
                .main a {
                    font-size: 22px;
                    line-height: 30.8px;
                    margin-bottom: 5px;
                }
                .link {
                    margin-bottom: 10px;
                }
                .text p {
                    margin-bottom: 0px;
                }
             }
        }
    }
}
#latest_posts{
    padding: 60px 0;
    .header{
        h3{
            @include header(24px,33.6px);
        }
    }
    .post_container{
        .my_card{
            padding: 15px 0;
            border-bottom: $border;
            @include card;
            padding-right: 0;
            .main_img .icon{
                top: 10px;
                left: 20px;
                transform: none;
                bottom: unset;
                right: unset;
            i {
                width: 35px;
                height: 35px;
                line-height: 35px;
            }
        }
            .info {
                padding-top: 0;
            }
            h2,
            p{
                padding-top: 10px;
            }
            .icons{
                padding-top: 0px;
                i{
                    color: $text-color;
                    @extend %hover;
                }
            }
        } 
        .btn{
            padding: 10px 20px;
            color: $text-color;
            border: $border;
            border-radius: 50px;
            margin-top: 25px;
            @extend %hover;
            &:hover{
                border-color: $header-hover-color;
            }
        }
    }
}
#side_sec{
    .side_sec-1{
        margin-top: 60px;
        background: url(../img/map-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80%;
        img{
            padding: 20px 0;
        }
        p{
            color: $text-color;
            padding-bottom: 20px;
            font-size: 15px;
            line-height: 25.5px;
        }
        .social_icon{
            padding-bottom: 20px;
            ul{
                li{
                    padding: 0 10px;
                    a{
                        @extend %hover;
                    }
                }
            }
        }
    }
    .side_sec-2{
        margin-top: 30px;
        .header{
            h3{
                @extend %newheader;
            }
        }
        .blog_info{
            .blog_container{
                @include blog-min(50%);
            }
        }
    }
    .side_sec-3{
        margin-top: 30px;
        .header{
            h3{
                @extend %newheader;
            }
        }
        ul{
            li{
                border-top: $border;
                padding: 10px 0;
                p{
                    font-size: 15px;
                        line-height: 25.5px;
                    i{
                        color: $header-hover-color;
                        padding-right: 15px;
                    }
                    a{
                        font-family: $body-text;
                        color: $header-color;
                        @extend %hover;
                    }
                }
                span{
                    color: $text-color;

                }
            }
        }

    }
    .side_sec-4{
        margin-top: 30px;
        .header{
            h3{
                @extend %newheader;
            }
        }
        form{
            h4{
                font-family: $body-text;
                font-size: 15px;
                line-height: 25.5px;
                padding-bottom: 10px;
            }
            input{
                color: $header-text;
                font-size: 14px;
                line-height: 22.4px;
                text-align: center;
                border: $border;
                border-radius: 50px;
                padding: 10px;
                &::placeholder{
                    text-align: center;
                }
                &:focus{
                    outline: 0;
                    border-color: $header-hover-color;
                }
            }
            button{
                margin-top: 10px;
                padding: 10px 0;
                background: $background-color;
                background-size: 200% auto;
                border-radius: 50px;
                font-size: 15px;
                line-height: 25.5px;
                color: $common-color;
                font-family: $body-text;
                transition: .5s;
                &:hover{
                    background-size: 100% auto;
                }
            }
        }
        p{
            margin-top: 25px;
            color: $text-color;
            font-size: 13px;
            line-height: 22.1px;
            a{
                color: $header-hover-color;
            }
        }
    }
    .side_sec-5{
        margin-top: 30px;
        .header{
            h3{
                @extend %newheader;
            }
        }
        .card_container{
            padding-bottom: 50px;
            .card_img_arrow{
                color: $text-color;
                position: absolute;
                bottom: 15px;
                text-align: center;
                cursor: pointer;
                width: 30px;
                height: 30px;
                line-height: 30px;
                border: $border;
                border-radius: 50%;
                transition: .5s;
                &:hover{
                    color: $header-hover-color;
                    border-color: $header-hover-color;
                }
                &.fa-chevron-left{
                    right: 51%;
                }
                &.fa-chevron-right{
                    left: 51%;
                }
            }
            .my_card{
                @include card();
                padding-right: 0;
                .info {
                    padding-top: 5px;
                    .aythor a {
                        padding-right:10px;
                        padding-left: 0;
                    }
                }
                
            }
        }
    }
    .side_sec-6{
        margin: 30px 0;
        .header{
            h3{
                @extend %newheader;
            }
        }
        .links{
            a{
                color: $text-color;
                display: inline-block;
                padding: 2px 10px;
                margin-right: 5px;
                margin-bottom: 10px;
                border: $border;
                font-size: 15px;
                line-height: 25.5px;
                border-radius: 50px;
                @extend %hover;
                &:hover{
                    border-color: $header-hover-color;
                }
                &::before{
                    content: '#';
                }
            }
        }
    }
}
//responsive
//Medium
@media (max-width:991px){
    #banner{
        .side_inner.border_box{
            margin-top: 60px;
        }
    }
    #side_sec .side_sec-6 {
        margin: 60px 0;
    }
    .side_nav {
        width: 40vw;
    }
    nav .nav_last ul li #Search .Search_bar {
        padding-top: 70px;
    }
}
//Small
@media (max-width:767px){
    nav .nav_last ul li #Search .Search_bar h4 {
        font-size: 25px;
    }
    .side_nav {
        width: 50vw;
    }
    #inspiration .inspiration_slider .inner .img .text {
        left: 10px;
        bottom: 10px;
    }
    #inspiration .inspiration_slider .inner .img .text p span {
        padding-left: 7px;
    }
    #inspiration .inspiration_slider .inner .img .text .main a {
        font-size: 20px;
        line-height: 20.8px;
    }
    #latest_posts .post_container .my_card .info {
        padding-top: 15px;
    }
}
//Extra small
@media (max-width:575px){
    nav .nav_last ul li #Search .Search_bar {
        width: 80%;
    }
    nav .nav_last ul li #Search .Search_bar form button{
        margin: 15px 0;
    }
    .side_nav {
        width: 90vw;
    }
    #side_sec .side_sec-5 .card_container .my_card .main_img .title .link, #latest_posts .post_container .my_card .main_img .title .link, #inspiration .inspiration_slider .inner .img .text .link, #trending .trending_container .my_card .main_img .title .link, #editor .editor_container .my_card .main_img .title .link, #banner .side_inner .btns button.active, #banner .side_inner .btns button, #banner .inner .img .text .link, footer .footer_imgs .footer_text a {
        padding: 6px 20px;
    }
    #banner .inner .img .text {
        left: 10px;
        bottom: 10px;
    }
    #banner .inner .img .text .main a {
        font-size: 25px;
        line-height: 26.8px;
        margin-bottom: 0px;
    }
    #banner .inner .img .text .link {
        padding: 0px 7px;
        margin-bottom: 8px;
    }
    #banner .side_inner.border_box {
        margin-top: 35px;
    }
    #banner .side_inner .blog_info .blog_container .text h3 {
        font-size: 14px;
        line-height: 19px;
    }
    #editor .editor_container .my_card {
        padding-right: 0;
    }
    #side_sec .side_sec-1 {
        margin-top: 0px;
    }
    #inspiration .inspiration_slider .inner .img .text .link,
    #editor .editor_container .my_card .main_img .title .link,
    #trending .trending_container .my_card .main_img .title .link,
    #side_sec .side_sec-5 .card_container .my_card .main_img .title .link {
        padding: 0 5px;
    }
    footer .last_footer .social_icon, 
    footer .last_footer p, 
    footer .last_footer button {
        margin: 5px 0;
    }
}
